site_name: "LinkML-Transformer"
theme:
  name: material
  features:
    - content.tabs.link
plugins:
  - search
  - mermaid2
nav:
  - Index: index.md
  - Specification:
      Compliance Suite: specification/compliance.md
site_url: https://cmungall.github.io/linkml-transformer/
repo_url: https://github.com/cmungall/linkml-transformer/
