[project]
name = "linkml-map"
version = "0.0.0"
description = "a framework for specifying and executing mappings between data models"
readme = "README.md"
authors = [
    {name = "cmungall", email = "cjm@berkeleybop.org"},
]
requires-python = "<=3.13,>=3.9"

dependencies = [
    "asteval<1,>=0",
    "click<9,>=8",
    "curies",
    "jinja2<4,>=3",
    "linkml-runtime>=1.7.2",
    "pydantic>=2.0.0",
    "pyyaml",
]

[project.optional-dependencies]
duckdb = [
    "duckdb<1,>=0",
]
graphviz = [
    "graphviz<1.0.0,>=0.20.1",
]
units = [
    "lark<2,>=1",
    "pint<1,>=0",
    "ucumvert<1,>=0",
]
dev = [
    "deepdiff<7.0.0,>=6.7.1",
    "deptry<1.0.0,>=0.21.1",
    "jupyter<2.0.0,>=1.0.0",
    "linkml>=1.7.0",
    "mkdocs-mermaid2-plugin<1.0.0,>=0.6.0",
    "mkdocs-windmill",
    "mkdocstrings[crystal,python]",
    "mknotebooks<1.0.0,>=0.8.0",
    "pytest>=7.3.1",
    "ruff>=0.11.2",
    "tox>=4.24.2",
]

[project.scripts]
linkml-map = "linkml_map.cli.cli:main"

[tool.poetry-dynamic-versioning]
enable = true
vcs = "git"
style = "pep440"

[tool.deptry]
known_first_party = ["linkml_map"]
extend_exclude = ["docs"]

[build-system]
requires = ["poetry-core>=1.0.0", "poetry-dynamic-versioning"]
build-backend = "poetry_dynamic_versioning.backend"


# Ref: https://github.com/codespell-project/codespell#using-a-config-file
[tool.codespell]
skip = '.git,*.pdf,*.svg,go.sum,*.lock'
check-hidden = true
ignore-regex = '(^\s*"image/\S+": ".*|\b(KEGG.BRITE|mor.nlm.nih.gov)\b)'
ignore-words-list = 'infarction,amination,assertIn,brite,ehr,mor,brite,nin,mirgate'

[tool.ruff]
line-length = 100
target-version = "py312"

[tool.ruff.format]
exclude = [
  "src/linkml_map/datamodel",
  "tests/input"
]

[tool.ruff.lint]
exclude = [
  "src/linkml_map/datamodel",
  "tests/input"
]

select = [
    # core
    "F", # Pyflakes
    "E", # pycodestyle errors
    "W", # pycodestyle warnings
    "C90", # mccabe +
    "I", # isort
    "N", # pep8-naming
    "D", # pydocstyle
    "UP", # pyupgrade
    # extensions
    "YTT", # flake8-2020
    "ANN", # flake8-annotations
    "ASYNC", # flake8-async
    "S", # flake8-bandit
    "BLE", # flake8-blind-except
    "FBT", # flake8-boolean-trap
    "B", # flake8-bugbear
    "A", # flake8-builtins
    # "COM", # flake8-commas
    # "CPY", # flake8-copyright
    "C4", # flake8-comprehensions
    "DTZ", # flake8-datetimez
    "T10", # flake8-debugger
    # "DJ", # flake8-django
    "EM", # flake8-errmsg
    "EXE", # flake8-executable
    "FA", # flake8-future-annotations
    "ISC", # flake8-implicit-str-concat
    "ICN", # flake8-import-conventions
    "G", # flake8-logging-format
    "INP", # flake8-no-pep420
    "PIE", # flake8-pie
    "T20", # flake8-print
    "PYI", # flake8-pyi
    "PT", # flake8-pytest-style
    "Q", # flake8-quotes
    "RSE", # flake8-raise
    "RET", # flake8-return
    "SLF", # flake8-self
    "SLOT", # flake8-slots
    "SIM", # flake8-simplify
    "TID", # flake8-tidy-imports
    "TCH", # flake8-type-checking
    "INT", # flake8-gettext
    "ARG", # flake8-unused-arguments
    "PTH", # flake8-use-pathlib
    "TD", # flake8-todos
    "FIX", # flake8-fixme
    "ERA", # eradicate
    # "PD", # pandas-vet
    "PGH", # pygrep-hooks
    "PL", # Pylint
    "TRY", # tryceratops
    "FLY", # flynt
    # "NPY", # NumPy-specific rules
    "AIR", # Airflow
    "PERF", # Perflint
    "FURB", # refurb
    "LOG", # flake8-logging
    "RUF", # Ruff-specific rules
]

ignore = [
    # UP007: non-pep604-annotation-union - fix when 3.9 is dropped
    "UP007",
    # D200: unnecessary-multiline-docstring
    "D200",
    # D203: one-blank-line-before-class (conflicts with D211)
    "D203",
    # D212: multi-line-summary-first-line (conflicts with D213)
    "D212",
    # E203: whitespace before ',', ';', or ':'
    "E203",
    # E501: line length (specified elsewhere)
    "E501",
    # ISC001: conflicts with Ruff's formatter
    "ISC001",
    # C901: complex-structure - needs code change
    "C901",
    # E731: lambda-assignment - needs code change
    "E731",
    # B024: abstract-base-class-without-abstract-method
    "B024"
]

[tool.ruff.lint.per-file-ignores]
"tests/**/*.py" = ["S101"] # use of assert

[tool.ruff.lint.mccabe]
# Flag errors (`C901`) whenever the complexity level exceeds 15.
max-complexity = 15
