[tool.poetry]
name = "linkml-map"
version = "0.0.0"
description = "a framework for specifying and executing mappings between data models"
authors = ["cmungall <cjm@berkeleybop.org>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.9"
linkml-runtime = ">=1.7.2"
asteval = "^0.9.29"
deepdiff = "^6.7.1"
pydantic = ">=2.0.0"
ucumvert = "^0.1.1"
linkml-model = "^1.8.0"

[tool.poetry.dev-dependencies]
pytest = "^7.3.1"
pytest-cov = "^4.0.0"
linkml = ">=1.7.0"
mkdocs-mermaid2-plugin = "^0.6.0"
mkdocstrings = {extras = ["crystal", "python"], version = "*"}
mknotebooks = "^0.8.0"
mkdocs-windmill = "*"
tox = "*"

[tool.poetry-dynamic-versioning]
enable = true
vcs = "git"
style = "pep440"

[tool.poetry.scripts]
linkml-map = "linkml_map.cli.cli:main"

[tool.poetry.group.dev.dependencies]
jupyter = "^1.0.0"
linkml = "^1.6.7"


[tool.poetry.group.units.dependencies]
pint = "^0.23"


[tool.poetry.group.graphviz.dependencies]
graphviz = "^0.20.1"


[tool.poetry.group.duckdb.dependencies]
duckdb = "^0.10.1"

[build-system]
requires = ["poetry-core>=1.0.0", "poetry-dynamic-versioning"]
build-backend = "poetry_dynamic_versioning.backend"

[tool.black]
line-length = 100
target-version = ["py39", "py310", "py311"]

[tool.isort]
profile = "black"
multi_line_output = 3
include_trailing_comma = true
reverse_relative = true

# Ref: https://github.com/codespell-project/codespell#using-a-config-file
[tool.codespell]
skip = '.git,*.pdf,*.svg,go.sum,*.lock'
check-hidden = true
ignore-regex = '(^\s*"image/\S+": ".*|\b(KEGG.BRITE|mor.nlm.nih.gov)\b)'
ignore-words-list = 'infarction,amination,assertIn'
